<div class="box">
        <div class="container">
             <div class="row">                 
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">                   
                        <div class="box-part text-center">                            
                            <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>                            
                            <div class="title">
                                <h4>Instagram</h4>
                            </div>                            
                            <div class="text">
                                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                            </div>                            
                            <a href="https://www.instagram.com/" target="_blank">Learn More</a>                            
                         </div>
                    </div>	 
                    
                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">                   
                        <div class="box-part text-center">                            
                            <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>                        
                            <div class="title">
                                <h4>Twitter</h4>
                            </div>                            
                            <div class="text">
                                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                            </div>                            
                            <a href="https://twitter.com/" target="_blank">Learn More</a>                            
                         </div>
                    </div>	 
                    
                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                   
                        <div class="box-part text-center">                            
                            <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>                            
                            <div class="title">
                                <h4>Facebook</h4>
                            </div>                            
                            <div class="text">
                                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                            </div>                            
                            <a href="https://www.facebook.com/9" target="_blank">Learn More</a>                            
                         </div>
                    </div>	 
                    
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">                   
                        <div class="box-part text-center">                            
                            <i class="fa fa-pinterest-p fa-3x" aria-hidden="true"></i>                            
                            <div class="title">
                                <h4>Pinterest</h4>
                            </div>                            
                            <div class="text">
                                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                            </div>                            
                            <a href="https://www.pinterest.com/" target="_blank">Learn More</a>                            
                         </div>
                    </div>	 
                    
                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">                   
                        <div class="box-part text-center">                            
                            <i class="fa fa-google-plus fa-3x" aria-hidden="true"></i>                        
                            <div class="title">
                                <h4>Google</h4>
                            </div>                            
                            <div class="text">
                                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                            </div>                            
                            <a href="#">Learn More</a>
                            
                         </div>
                    </div>	 
                    
                     <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">                   
                        <div class="box-part text-center">                            
                            <i class="fa fa-github fa-3x" aria-hidden="true"></i>                            
                            <div class="title">
                                <h4>Github</h4>
                            </div>                            
                            <div class="text">
                                <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                            </div>                            
                            <a href="https://github.com/" target="_blank">Learn More</a>                            
                         </div>
                    </div>    
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">                   
                       <div class="box-part text-center">                            
                           <i class="fa fa-github fa-3x" aria-hidden="true"></i>                            
                           <div class="title">
                               <h4>Github</h4>
                           </div>                            
                           <div class="text">
                               <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                           </div>                            
                           <a href="https://github.com/" target="_blank">Learn More</a>                            
                        </div>
                   </div> 
                   <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">                   
                      <div class="box-part text-center">                            
                          <i class="fa fa-github fa-3x" aria-hidden="true"></i>                            
                          <div class="title">
                              <h4>Github</h4>
                          </div>                            
                          <div class="text">
                              <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                          </div>                            
                          <a href="https://github.com/" target="_blank">Learn More</a>                            
                       </div>
                  </div>         
            </div>		
        </div>
    </div>
<!--
    <div class="row" style="border: 1px ssolid red; ">
        <div class="container">
            <div class="col-md-8">              
                
                
                <a href="https://www.google.com/" class="fa fa-google"></a>
                <a href="https://www.linkedin.com/" class="fa fa-linkedin"></a>
                <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
                <!--<a href="https://twitter.com/" class="fa fa-twitter"></a>
                    <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/" class="fa fa-instagram"></a>  
                    <a href="https://www.pinterest.com/" class="fa fa-pinterest"></a>
                <a href="#" class="fa fa-snapchat-ghost"></a>
                <a href="http://skype.com/" class="fa fa-skype"></a>
                <a href="#" class="fa fa-android"></a>
                <a href="#" class="fa fa-dribbble"></a>
                <a href="#" class="fa fa-vimeo"></a>
                <a href="#" class="fa fa-tumblr"></a>
                <a href="#" class="fa fa-vine"></a>
                <a href="#" class="fa fa-foursquare"></a>
                <a href="#" class="fa fa-stumbleupon"></a>
                <a href="#" class="fa fa-flickr"></a>
                <a href="#" class="fa fa-yahoo"></a>
                <a href="#" class="fa fa-reddit"></a>
                <a href="#" class="fa fa-rss"></a>                    
            </div>
        </div>
    </div>
-->